<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWork" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownWork">
            <a class="dropdown-item" href="{{ '/work/investment-systems' | relative_url }}">Investment Systems</a>
            <a class="dropdown-item" href="{{ '/work/research' | relative_url }}">Research</a>
            <a class="dropdown-item" href="{{ '/work/portfolio-management' | relative_url }}">Portfolio Management</a>
            <a class="dropdown-item" href="{{ '/work/publications' | relative_url }}">Publications</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRecord" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Record</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownRecord">
            <a class="dropdown-item" href="{{ '/record/timeline' | relative_url }}">Timeline</a>
            <a class="dropdown-item" href="{{ '/record/media' | relative_url }}">Media</a>
            <a class="dropdown-item" href="{{ '/record/evidence' | relative_url }}">Evidence</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
